@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Prompt;
}

select {
  -webkit-appearance: none; /* Pour Safari et Chrome */
  -moz-appearance: none; /* Pour Firefox */
  appearance: none; /* Standard */
  background: transparent; /* Pour enlever l'arrière-plan si nécessaire */
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset; /* Remplacez 'white' par la couleur de fond souhaitée */
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: black; /* Couleur du texte après autofill */
}
